.wrapper{
    padding: 20px;
}

.look-and-feels{
    float: right; 
    margin-right: 10px; 
    padding: 10px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
}

.look-and-feels:hover{
    background-color: green;
    color: white;
}